main {
  margin: 1rem;
  display: flex;
  gap: 1rem;

  .email-list {
    border-right: 1px solid var(--background-color-one);
    padding-right: 1rem;
  }

  >div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
  }
}
