article {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    background-color: var(--background-color-one);
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      font-weight: 500;
    }

    p {
      margin: 0;
      color: var(--text-color-secondary);
    }
  }

  iframe {
    border-radius: 1rem;
    background-color: white;
    display: block;
    width: calc(100% - 1rem);
    padding: 1rem 0.5rem;
  }
}
