main {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  gap: 1rem;
  position: relative;

  .email-list {
    border-right: 1px solid var(--background-color-one);
    padding-right: 1rem;
    width: 30%;
    margin: 0 auto;
  }

  &:has(:not(.email-view)) {
    .email-list {
      width: calc(min(100%, 110ch));
    }
  }

  .email-view {
    width: 70%;

    .go-back-btn {
      display: none;
    }
  }

  >div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(100dvh - 5.5rem);

    overflow: auto;
  }

  @media (max-width: 768px) {
    .email-list {
      width: 100%;
    }

    .email-view {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: var(--background-color);

      .go-back-btn {
        display: block;
        align-self: flex-start;
        padding: 0.5rem 1rem;
        background: none;
        border: none;
        color: var(--text-color);
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          opacity: 0.7;
        }
      }

      article {
        margin: 0 auto;
      }
    }
  }
}
