.compose-email-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1000;

    transition: all 0.5s ease-in-out;
    overflow: hidden;

    &.open {
        width: 100%;
    }

    .compose-email-background {
        background-color: var(--background-color-one);
        width: 100%;
        height: 100%;

        opacity: 0.75;
    }

    .compose-email {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 55%;
        max-height: 80%;
        overflow-y: auto;

        background-color: var(--background-color);

        padding: 2rem;
        border-radius: 1rem; 

        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

        .input-wrapper {
            margin-top: 0;
        }


        button.send-email {
            background-color: var(--primary-color);
            color: var(--text-color);

            width: 50%;
            padding: 0.5rem 2rem;
            border-radius: 1rem;

            font-weight: 700;
            font-size: 1.25rem;

            transition: all 0.3s ease-in-out;

            cursor: pointer;

            &:hover {
                background-color: var(--primary-color-dark);
                color: var(--text-color-secondary);
                border-radius: 2rem;
            }
        }

        #fr-logo {
            display: none;
        }
    }
}