.overview-page {
    .email-listing {

        overflow: auto;
        height: 100vh;

        .no-emails {
            background-color: var(--background-color-one);
            padding: 1.5rem 2rem;
            border-radius: 2rem;
            text-align: center;
            margin: 1rem auto;
            
            width: 50%;

            box-shadow: 0 0 2rem -1rem var(--primary-color);

            @media screen and (width <= 768px) {
                width: 90%;

                h2 {
                    font-size: 1.5rem !important;
                }
            }

            h2 {
                font-size: 2rem;
                color: var(--text-color);
                font-weight: bolder;
            }

            p {
                color: var(--text-color-secondary);
            }
        }

        &.minimized {
            .no-emails {
                width: 80%;
            }
        }
    }

    .email-item {
        width: calc(100% - 2rem);

        background-color: var(--background-color-one);
        border: 2px solid var(--background-color-one);

        color: var(--text-color);

        padding: 1rem;
        margin: 1rem auto;
        border-radius: 1rem;

        position: relative;

        cursor: pointer;

        &.opened {
            background-color: var(--background-color-two);
            border: 2px solid var(--primary-color);
        }

        &.unread {
            background: linear-gradient(10deg, var(--primary-color-dark) 5%, var(--background-color-one) 60%); 
        }

        &.starred {
            box-shadow: 0 0 2rem -1rem var(--primary-color);
            border-color: var(--starred-color);
        }

        .email-from {
            display: flex;
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }

        .email-subject {
            font-weight: bold;
            color: var(--text-color);
            margin-top: 0.5rem;
        }

        .email-sent-at {
            position: absolute;
            right: 1rem;
            top: 1rem;
            color: var(--text-color-secondary);
        }
    }
}