.overview-page {

    .listing-header {
        height: 3rem;
        width: calc(100% - 2rem);

        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin: 1rem auto;
        border-radius: 5rem;

        background-color: var(--background-color-one);
        color: var(--text-color);

        .previous-page,
        .next-page {
            cursor: pointer;
            svg {
                width: 3rem;
                height: 3rem;
                padding: 0.5rem;

                path {
                    fill: var(--text-color);
                }

                &:hover {
                    background-color: var(--primary-color);
                    border-radius: 50%;
                }
            }

            &[data-page='null'] {
                cursor: not-allowed;
                opacity: 0.5;

                svg:hover {
                    background-color: transparent;
                }
            }
        }
    }

    .email-listing {
        overflow: auto;
        height: calc(100vh - 5rem);

        .no-emails {
            background-color: var(--background-color-one);
            padding: 1.5rem 2rem;
            border-radius: 2rem;
            text-align: center;
            margin: 1rem auto;
            
            width: 50%;

            box-shadow: 0 0 2rem -1rem var(--primary-color);

            @media screen and (width <= 768px) {
                width: 90%;

                h2 {
                    font-size: 1.5rem !important;
                }
            }

            h2 {
                font-size: 2rem;
                color: var(--text-color);
                font-weight: bolder;
            }

            p {
                color: var(--text-color-secondary);
            }
        }

        &.minimized {
            .no-emails {
                width: 80%;
            }
        }
    }

    .email-item {
        width: calc(100% - 2rem);

        background-color: var(--background-color-one);
        border: 2px solid var(--background-color-one);

        color: var(--text-color);

        padding: 1rem;
        margin: 1rem auto;
        border-radius: 1rem;

        position: relative;

        cursor: pointer;

        &.opened {
            background-color: var(--background-color-two);
            border: 2px solid var(--primary-color);
        }

        &.unread {
            background: linear-gradient(10deg, var(--primary-color-dark) 5%, var(--background-color-one) 60%); 
        }

        &.starred {
            box-shadow: 0 0 2rem -1rem var(--primary-color);
            border-color: var(--starred-color);
        }

        .email-from {
            display: flex;
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }

        .email-subject {
            font-weight: bold;
            color: var(--text-color);
            margin-top: 0.5rem;
        }

        .email-sent-at {
            position: absolute;
            right: 1rem;
            top: 1rem;
            color: var(--text-color-secondary);
        }

        &.child {
            width: calc(100% - 4rem);
            margin: 0.5rem auto;
            padding: 0.75rem;
            font-size: 0.9rem;
            background-color: var(--background-color);
        }
    }

    .email-thread {
        border: 2px solid var(--background-color-two);
        border-radius: 1rem;
        padding: 0.25rem 0.25rem 0.5rem 0.25rem;
        margin: 1rem auto;
        width: calc(100% - 2rem);
        box-shadow: 0 0 1rem -0.75rem var(--primary-color);

        .email-item {
            margin: 0.5rem 0.75rem;
        }

        .thread-children-toggle {
            display: flex;
            justify-content: flex-end;
            padding: 0.25rem 0.5rem;
            
            .toggle-thread-children {
                cursor: pointer;
                font-size: 0.9rem;
                background: transparent;
                color: var(--text-color);
                border: 1px solid var(--background-color-two);
                border-radius: 0.5rem;
                padding: 0.25rem 0.5rem;

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--text-contrast-color);
                }
            }
        }

        // Hide children by default
        .email-item.child { display: none; }
        &.expanded .email-item.child { display: block; }
    }
}
