main {

    background-color: var(--background-color);

    .email-date {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0 1rem 1rem;
        width: 75%;
        border-bottom: 1px solid var(--text-color);
    }

    .message {
        background-color: var(--background-color-one);
        width: 98%;
        margin: 1rem auto;
        display: flex;

        color: var(--text-color);

        border-radius: 1rem;
        padding: 1rem;

        .email-from {
            width: 15%;
            margin-left: 0.5rem;
            color: var(--text-color-secondary);
        }

        .email-subject {
            width: 70%;
        }

        .email-sent-at {
            width: 15%;
            text-align: right;
            margin-right: 0.5rem;
            color: var(--text-color-secondary);
        }

        &.unread {
            color: var(--text-color);
            font-weight: bold;
            background-color: var(--primary-color);

            .email-from, .email-sent-at {
                color: var(--text-color);
            }
        }
    }
}