.overview-page, .email-page {
    display: flex;

    .sidebar {
        height: 100vh;
        width: 15vw;
    }
    
    .sidebar.minimized {
        width: 5vw;
    }

    main {
        display: flex;

        .email-listing {
            width: 85vw;
        }

        .email-listing.minimized {
            width: 35vw;
        }

        .email-content {
            width: 0;
            overflow: hidden;
        }

        .email-content.maximized {
            width: 60vw;
            border-left: 1px solid var(--border-color);
        }
    }

    @media screen and (width < 768px) {

        .sidebar.minimized {
            display: none;
        }

        .email-content.maximized {
            position: absolute;
            background-color: var(--background-color);
            width: 100vw !important;
            height: 100vh;
        }
    }
}