main {
    background-color: var(--background-color);

    .email-date {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0 1rem 1rem;
        width: 75%;
        border-bottom: 1px solid var(--text-color);
    }

    .message {
        background-color: var(--background-color-one);
        width: 98%;
        margin: 1rem auto;
        display: flex;

        color: var(--text-color);

        border-radius: 1rem;
        padding: 1rem;

        transition: all 0.3s ease-in-out;

        cursor: pointer;
        position: relative;

        .quick-action-wrapper {
            display: none;

            position: absolute;
            right: 0.25rem;

            gap: 0.5rem;
            
            top: calc(50%);
            transform: translateY(-50%);

            transition: all 0.3s ease-in-out;

            a {
                height: 2rem !important;
                width: 2rem !important;
                
                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .email-from {
            width: 15%;
            margin-left: 0.5rem;
            color: var(--text-color-secondary);
        }

        .email-subject {
            width: 70%;
        }

        .email-sent-at {
            width: 15%;
            text-align: right;
            margin-right: 0.5rem;
            color: var(--text-color-secondary);
        }

        &.unread {
            color: var(--text-color);
            font-weight: bold;
            background-color: var(--primary-color);

            .email-from, .email-sent-at {
                color: var(--text-color);
            }
        }

        &:hover {
            border-radius: 2rem;

            .quick-action-wrapper {
               display: flex;
               background-color: var(--background-color);
               padding: 0.5rem;
                border-radius: 2rem;
            }

            .email-sent-at {
                display: none;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 95%;
            padding: 1rem;
            position: relative;

            .email-from, .email-subject {
                width: calc(100% - 2rem);
                margin-left: 0;
            }

            .email-sent-at {
                width: 100%;
                text-align: right;
                margin-right: 0;

                position: absolute;
                top: 1rem;
                right: 1rem;
            }

        }
    }
}