main {
    background-color: var(--background-color);

    .email-date {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0 1rem 1rem;
        width: 75%;
        border-bottom: 1px solid var(--text-color);
    }

    .context-menu {
        display: none;
        flex-direction: column;
        gap: 0.5rem;


        width: 15rem;

        position: absolute;
        top: 0;
        left: 0;

        background-color: var(--background-color-one);
        border-radius: 1rem;
        padding: 0.5rem;

        border: 1px solid var(--text-color);
        box-shadow: 0 0 3rem var(--primary-color); 

        .context-menu-item {
            cursor: pointer;
            padding: 0.5rem;
            color: var(--text-color);
            transition: all 0.3s ease-in-out;

            border-radius: 1rem;

            &:hover {
                background-color: var(--primary-color);
            }
        }

        &.open {
            display: flex;
        }
    }
}