.quick-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-radius: 3rem;
        background-color: var(--primary-color);
    }

    svg { 
        margin: auto;
        height: 2rem;
        width: 2rem;
        
        path {
            fill: var(--text-color) !important;
        }
    }
}