body {
  background-color: var(--surface);
  color: var(--on-surface);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  transition: all 0.3s ease-in-out;
  font-family: system-ui;
  color: var(--on-surface);
}
