body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  transition: all 0.3s ease-in-out;
}