header {
  background-color: var(--background-color-one);
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  height: 2.5rem;

  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .title {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  a:not(.logo) {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color-secondary);
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;

    border: 2px solid var(--background-color-two);

    &:hover {
      color: var(--text-color);
      background-color: var(--background-color-two);
    }

    &.active {
      border: 2px solid var(--primary-color-dark);
      color: var(--text-color);
    }
  }

  &.is-mobile {
    position: absolute;
    bottom: 0;
    padding-bottom: 1.5rem;
    width: calc(100% - 2rem);
    
    .logo .title {
      display: none;
    }
  }
}
