.dashboard main {
    height: 100vh;
    width: calc(100vw - 2rem);
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 1rem;
    
    .left-panel, .right-panel {
        width: 50%;

        border: 1px solid var(--border-color);
        padding: 1rem;

        height: calc(100vh - 2rem);
    }

    .left-panel {
        border-radius: 2rem 1rem 1rem 2rem;

        .linked-profile {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;

            color: var(--text-color);
            background-color: var(--background-color-one);

            &:hover {
                background-color: var(--primary-color);
            }
            
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }

            .profile-text {
                display: flex;
                flex-direction: column;

                .profile-email {
                    font-size: 0.8rem;
                    color: var(--text-color-secondary);
                }
            }
        }
    }

    .right-panel {
        border-radius: 1rem 2rem 2rem 1rem;
    }
}