.dashboard main {
    height: 100vh;
    width: calc(100vw - 2rem);
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 1rem;
    
    .left-panel, .right-panel {
        width: 50%;

        border: 1px solid var(--border-color);
        padding: 1rem;

        height: calc(100vh - 2rem);
    }

    .left-panel {
        border-radius: 2rem 1rem 1rem 2rem;
    }

    .right-panel {
        border-radius: 1rem 2rem 2rem 1rem;
    }
}