@import "input.scss";
@import "toast.scss";
@import "dashboard.scss";
@import "app.css";

// @import "email/compose_email.scss";
@import "email/email_listing.scss";
@import "email/email.scss";
@import "email/context_menu.scss";
@import "email/layout.scss";
@import "email/quick_actions.scss";
@import "email/sidebar.scss";

// @import "account/credentials.scss";
// @import "account/layout.scss";
// @import "account/sidebar.scss";

body {
    margin: 0;
    font-family: var(--font-family);

    background-color: var(--background-color);

    * {
        transition: all 0.2s ease-in-out;
    }
}