@import "input.scss";
// @import "dashboard.scss";
@import "app.css";

@import "email/compose_email.scss";
@import "email/email_listing.scss";
@import "email/email.scss";
@import "email/layout.scss";
@import "email/overview.scss";
@import "email/quick_actions.scss";
@import "email/sidebar.scss";

// @import "account/credentials.scss";
// @import "account/layout.scss";
// @import "account/sidebar.scss";

@import "guest/login.scss";

body {
    margin: 0;
    font-family: var(--font-family);

    background-color: var(--background-color);
}