.toast {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 30rem;
    max-width: 100%;

    background-color: var(--modal-background-color);
    border-radius: 1rem;
    padding: 1rem;

    box-shadow: 0 0 2rem -0rem var(--primary-color);

    @media screen and (max-width: 768px) {
        width: calc(100% - 1rem);
        left: 0.5rem;
    }

    .toast-icon {
        width: 2rem;
        min-width: 2rem;

        .toast-error-icon,
        .toast-success-icon {
            display: none;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .toast-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;

        font-weight: 600;

        .undo-button {
            background-color: var(--primary-color);
            color: var(--text-color);
            border: none;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            font-weight: bold;
        }
    }

    &.toast-error {
        background-color: var(--error-color);
        box-shadow: 0 0 2rem -0rem var(--error-color);
        .toast-error-icon {
            display: block;
        }
    }

    &.toast-success {
        background-color: var(--success-color);
        box-shadow: 0 0 2rem -0rem var(--success-color);
        .toast-success-icon {
            display: block;
        }
    }
}
