.list-item {
  padding: calc(0.5rem - 4px) calc(1rem - 4px);
  background-color: var(--surface-at-1);
  border-radius: 1rem;
  border: 2px solid var(--outline-variant);

  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;

    .meta,
    h3 {
      margin: 0.25rem;
    }

    h3 {
      font-weight: 400;
      word-break: break-all;
    }

    .meta {
      display: flex;
      align-items: center;
      font-size: 0.875rem;

      img {
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
        margin: 0 0.25rem;
      }

      color: var(--on-surface-variant);

      .label {
        margin: 0.25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        font-size: 0.75rem;
      }
    }
  }

  &:hover {
    cursor: pointer;
    border: 2px solid var(--primary);
  }

  &.selected {
    cursor: pointer;
    border: 2px solid var(--primary);
    background-color: var(--primary-container);
    color: var(--on-primary-container);
  }

  &.unread {
    border: 1px solid var(--primary);
  }
}
