.email-page {
  display: flex;
  gap: 2rem;
  margin: 2rem;

  .email-listing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
  }

  .email-content {
    width: 60%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 1rem;

    .email-listing, .email-content {
      width: 100%;
    }
  }
}
